@font-face {
  font-family: 'Sans Fallback';
  font-style: normal;
  src: local('Tahoma');
  size-adjust: 65%;
}

html {
  overflow-x: auto;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  background-color: #ddd;
  width: 12px;
}

html::-webkit-scrollbar-thumb {
  background-color: #666;
}

newsfeed-stack ul::-webkit-scrollbar {
  background-color: rgba(250, 250, 250, 0.1);
  width: 10px;
}

newsfeed-stack ul::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
}
