@font-face {
  font-family: 'Sans Fallback';
  font-style: normal;
  src: local('Tahoma');
  size-adjust: 65%;
}

html {
  overflow-x: auto;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  background-color: #ddd;
  width: 12px;
}

html::-webkit-scrollbar-thumb {
  background-color: #666;
}
