---
import { useI18n } from '../i18n/utils';

interface Article {
  author: string;
  categories: string[];
  content: string;
  description: string;
  enclosure: object;
  guid: string;
  link: string;
  pubDate: string;
  thumbnail: string;
  title: string;
}

const i18n = useI18n();

const articlesPromise: Promise<Article[]> = fetch(i18n.rss)
  .then((res) => res.json())
  .then((data) => data?.items || [])
  .catch(() => []);
---

<style>
  ul::-webkit-scrollbar {
    background-color: rgba(250, 250, 250, 0.1);
    width: 10px;
  }

  ul::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
  }
</style>

<ul
  class="min-w-[300px] md:min-w-[360px] h-[250px] overflow-x-hidden overflow-y-auto bg-gray-100/10 text-gray-100"
>
  {
    articlesPromise.then((data) =>
      data.map((o) => (
        <li
          class="border-b border-gray-100/20 hover:bg-gray-50/20 transition-colors duration-200 ease-in-out"
          data-guid={o.guid}
        >
          <a
            class="block px-2"
            href={o.link}
            target="_blank"
            rel="noopener noreferrer"
          >
            {o.title}
          </a>
        </li>
      ))
    )
  }
</ul>
